[Desktop Entry]
Categories=Utility;
Encoding=UTF-8
Exec=sh -c "/opt/durapps/spark-dwine-helper/spark-dwine-helper-settings/settings.sh"
Icon=store.spark-app.spark-dwine-helper
MimeType=
Name=Spark Wine Helper Settings
Name[zh_CN]=星火wine助手设置
StartupWMClass=spark-dwine-helper-settings
Terminal=False
Type=Application
NoDisplay=true
X-Deepin-Vendor=user-custom
