Package: spark-dwine-helper
Version: 1.5.1
Architecture: all
Maintainer: shenmo <shenmo@spark-app.store>
Installed-Size: 2293
Depends: zenity:amd64, p7zip-full:amd64, fonts-noto-cjk,deepin-wine-helper(>=5.1)
Section: utils
Priority: extra
Multi-Arch: foreign
Homepage: https://gitee.com/deepin-community-store/spark-wine
Description: Spark Deepin Wine Helper
